.popup__container {
  width: 430px;
  height: 330px;
  background-color: #fff;
  opacity: 1;
  z-index: 2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 940px) {
  .popup__container {
    width: 280px;
    height: 320px;
  }
}

