.elements {
  width: 100%;
  margin: 50px auto 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row dense;
  row-gap: 20px;
  column-gap: 17px;
  outline: 1px solid yellow;
}
