.elements {
  width: 100%;
  margin: 50px auto 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row dense;
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 940px) {
  .elements {
    margin: 36px auto 0;
    grid-template-columns: 1fr;
  }
}