.profile__name {
  grid-area: name;
  color: #fff;
  margin: 0;
  padding: 0;
  align-self: end;
  outline: 1px solid blue;
  font-family: 'Inter-Medium', Arial, sans-serif;
  font-size: 42px;
  line-height: 1.15;
  text-align: end;
}
