.profile__name {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Inter-Medium', Arial, sans-serif;
  font-size: 42px;
  line-height: 1.15;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 940px){
  .profile__name{
    font-size: 27px;
  }
}