.profile__edit-btn {
  border: 1px solid #fff;
  align-self: end;
  justify-self: start;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #000;
  background-image: url(../../../images/edit-btn.svg);
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
  position: absolute;
  top: 15px;
  right: -42px;
  z-index: 1;
}

@media screen and (max-width: 940px){
  .profile__edit-btn{
    margin: 0;
    top: 3px;
    right: -35px;
    align-self: center;
    justify-self: center;
  }
}
