.profile__edit-btn {
  border: 1px solid #fff;
  grid-area: button;
  align-self: end;
  justify-self: end;
  margin: 0 0 9px 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #000;
  background-image: url(../../../images/edit-btn.svg);
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}

@media screen and (max-width: 940px){
  .profile__edit-btn{
    margin: 0;
    align-self: center;
    justify-self: center;
  }
}
