.popup__save-btn {
  margin-top: 48px;
  border: 0;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 18px;
  z-index: 20;
  border-radius: 2px;
}

.popup__save-btn:hover {
  opacity: 0.8;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .7);
}

@media screen and (max-width: 940px) {
  .popup__save-btn {
    width: 85%;
    font-size: 14px;
  }
}
