.popup__save-btn {
  margin-top: 48px;
  margin-bottom: 37px;
  border: 0;
  width: 80%;
  height: 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 18px;
  z-index: 20;
  border-radius: 2px;
}

@media screen and (max-width: 940px) {
  .popup__save-btn {
    width: 85%;
    font-size: 14px;
  }
}
