.profile__avatar {
  min-width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url(../../../images/kusto.png);
  background-size: contain;
  background-repeat: no-repeat;
  /*background-position: center center;*/
  /*box-sizing: border-box;*/
}
