@import url(../vendor/normalize.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-btn/popup__close-btn.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__label/popup__label.css);
@import url(../blocks/popup/__item/popup__item.css);
@import url(../blocks/popup/__item/_type/popup__item_type_name.css);
@import url(../blocks/popup/__item/_type/popup__item_type_job.css);
@import url(../blocks/popup/__line/popup__line.css);
@import url(../blocks/popup/__save-btn/popup__save-btn.css);
@import url(../blocks/popup/_opened/popup_opened.css);


@import url(../blocks/button/button.css);
@import url(../blocks/button/_type/button_type_active.css);
@import url(../blocks/button/_style/button_style_shadow.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);

@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__item/profile__item.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__occupation/profile__occupation.css);
@import url(../blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(../blocks/profile/__add-btn/profile__add-btn.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__info/element__info.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_type/element__like_type_active.css);

@import url(../blocks/footer/footer.css);