.profile__info {
  outline: 1px solid red;
  margin: 0 0 0 30px;
  padding: 0;
  display: grid;
  grid-template-columns: max-content min-content;
  /*grid-template-rows: 40px min-content;*/
  /*justify-items: start;*/
  /*align-items: start;*/
  column-gap: 18px;
  row-gap: 16px;
  grid-template-areas:
    "name button"
    "occupation occupation";
}
