.element {
  background-color: #fff;
  display: grid;
  grid-template-rows: 281px 79px;
  grid-template-columns: 1fr;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  outline: 1px solid #000;
}
