.popup__item {
  border: 0;
  width: 80%;
  height: 40px;
  box-sizing: border-box;
  background-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,.2);
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 14px;
}

.popup__item:nth-of-type(1) {
  margin-top: 54px;
}

.popup__item:focus {
  outline: 0;
}

.popup__item::-webkit-input-placeholder {
  font-size: 14px;
  color: #bcbcc4;
}

.popup__item::-moz-placeholder {
  font-size: 14px;
  color: #bcbcc4;
}

.popup__item::-ms-input-placeholder {
  font-size: 14px;
  color: #bcbcc4;
}

.popup__item::placeholder {
  font-size: 14px;
  color: #bcbcc4;
}

@media screen and (max-width: 940px) {
  .popup__item {
    width: 85%;
  }
}

@media screen and (max-width: 940px) {
  .popup__item:first-of-type {
    margin-top: 75px;
  }
}