.popup__item {
  border: 0;
  width: 80%;
  height: 16px;
  box-sizing: border-box;
  /*border-bottom: 1px solid #bcbcc4;*/
  background-color: transparent;
  margin-top: 30px;
  font-size: 14px;
  line-height: 1;
  font-family: inherit;
}

.popup__item:first-of-type {
  margin-top: 52px;
}

.popup__item:focus {
  outline: 0;
}

.popup__item::-webkit-input-placeholder {
  font-size: 14px;
  color: #bcbcc4;
}

.popup__item::-moz-placeholder {
  font-size: 14px;
  color: #bcbcc4;
}

.popup__item::-ms-input-placeholder {
  font-size: 14px;
  color: #bcbcc4;
}

.popup__item::placeholder {
  font-size: 14px;
  color: #bcbcc4;
}

@media screen and (max-width: 940px) {
  .popup__item {
    width: 85%;
  }

  .popup__item:first-of-type {
    margin-top: 75px;
  }
}