.profile__occupation {
  margin: 16px 0 0 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 940px){
  .profile__occupation{
    max-width: 100%;
    font-size: 14px;
    align-self: center;
    justify-self: center;
  }
}
